body{
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
}

.container-fluid{
    text-align: center;
    padding:7% 15%;
}

.bg-custom{
    background-color:#EEEBDD;
    background-image: url(./pictures/bright-squares.png);
}

.hidden{
    display: none;
}

/* navbar styles */

.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
}

.nav-item{
    margin:auto 12px;
    font-size: 1.2rem;
}

.navbar button a{
    text-decoration: none;
}

/* home */

#home{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
    ),url(./pictures/homepage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    padding:10% 15%;
    text-align: center;
}

.main-heading{
    font-family: 'Lobster', cursive;
    font-size: 4rem;
}

.sub-heading,#home .btn{
    font-size:1.5rem;
}

/* about */

.abox{
    padding:4%;
}

.atitle{
    padding:20px;
}

/* table */


/* contact */

.details{
    padding:4% 8%;
    width:100%;
}

.citem h4,.citem p{
    padding:0 0 0 60px;
}

.citem h4{
    color:#FFD523;
}

.cicon{
    font-size: 25px;
    color: black;
    float: left;
    width: 50px;
    height: 50px;
    background: #eeebdd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.detailres{
    text-align: center;
}

hr{
    height:3px;
    margin:0 auto;
    width:80%;
    color:white;
}

/* footer  */

.social-icon{
    margin:2% 1%;
}

footer .container-fluid{
    padding:1%;
}

.bname{
    font-family: 'Montserrat', sans-serif;
}